@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


/* gradiente
azul claro #93bffe
lila #a078b2

azul #1f45af
violeta #5c30b2
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-normal-color: #fff1c6;
    --font-size-normal: 1.5rem;
    --background-color: #1f1c18;
}

body {
    background-color: var(--background-color);
    background: url(../img/jeshoots-com-PpYOQgsZDM4-unsplash.jpg);
    color: var(--text-normal-color);
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.contenedor_flex {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    background: rgba(31, 28, 24, 50%);
}

.page_title {
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    color: #ac8cec;
    margin: 10px auto;
}

.pagina {
    margin: 10px auto;
    font-size: var(--font-size-normal);
}

.contenedor {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
    background: rgba(31, 28, 24, 50%);
    margin: 0 auto;
    padding: 50px;
}

.contenedor .pelicula {
    align-self: center;
    width: auto;
    height: auto;
    margin-right: 3px;
}

.contenedor .pelicula .titulo {
    font-weight: 700;
    margin-bottom: 30px;
    word-break: break-all;
    text-align: center;
}

.contenedor .pelicula .poster {
    width: 250px;
    max-width: 500px;
    margin-bottom: 10px;
    border-radius: 15px;
    margin: auto;
}

.contenedor .pelicula .poster:hover {
    opacity: .8;
}

.paginacion {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
}

.paginacion button {
    background: rgba(31, 28, 24, 50%);
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: var(--font-size-normal);
    color: var(--text-normal-color);
    animation: text 7.5s linear;
    transition: all .2s ease;
    width: 100vw;
    padding: 30px 0;
}

.paginacion button:hover {
    background: transparent;
    border-radius: 15px;
    text-shadow: 1px 1px 3px #1f1c18;
}

@media screen and (max-width: 480px) {    
    .contenedor_flex {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        width: 100%;
    }
    
    .contenedor {
        flex-flow: column nowrap;
}
}